<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Theme Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    	.table th, .table td { 
			text-align: center;
			vertical-align: middle!important;
			}
    </style>
  </head>

  <body>
  	<!--顶部导航栏-->
  	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'train:index' %}">火车订票系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
                   <ul class="nav navbar-nav">
            <li><a href="{% url 'train:index' %}">首页</a></li>
            <li><a href="{% url 'train:selectTrainTicket' %}">购票</a></li>
            <li><a href="#contact">关于</a></li>
            {% if not session %}
                <li><a href="{% url 'user:login' %}">登录</a></li>
                <li><a href="{% url 'user:register' %}">注册</a></li>
            {% endif %}
            {% if session %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'order:user_order' %}">我的订单</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'user:userinfo' %}">我的信息</a></li>
                        <li><a href="{% url 'user:logout' %}">退出</a></li>
                    </ul>
                </li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
        <div id="blank" style="height: 80px;"></div>
  <div class="container theme-showcase" role="main" style="width: 80%">
		<table class="table table-striped">
	  <caption>订单信息</caption>
	  <thead>
	    <tr>
	      <th  class="text-center">订单号</th>
	      <th class="text-center">订单时间</th>
	      <th  class="text-center">账号</th>
	      <th  class="text-center">姓名</th>
	      <th  class="text-center">证件号</th>
	      <th  class="text-center">出发地址</th>
	      <th  class="text-center">出发时间</th>
	      <th  class="text-center">到达地址</th>
	      <th  class="text-center">到达时间</th>
	      <th  class="text-center">座位级别</th>
	      <th  class="text-center">票价</th>
	      <th  class="text-center">状态</th>
	      <th  class="text-center">改签</th>
	      <th  class="text-center">退票</th>
	    </tr>
	  </thead>
	  <tbody>
      {% for order in orders %}
        <tr class="text-center">
        <form method="post">
          <td>{{ order.order_id }}</td>
	      <td>{{ order.order_time }}</td>
	      <td>{{ order.account_num }}</td>
	      <td>{{ order.name }}</td>
	      <td>{{ order.id_card }}</td>
	      <td>{{ order.go_station }}</td>
	      <td>{{ order.go_time }}</td>
	      <td>{{ order.arrive_station }}</td>
	      <td>{{ order.arrive_time }}</td>
	      <td>{{ order.seat_level }}</td>
	      <td>{{ order.seat_price }}</td>
	      <td>{{ order.status }}</td>
	      <td>
              <button class="btn btn-default" type="submit" value="{{ order.order_id }}" name="ticketChange">改签</button>
{#              <input class="btn btn-default" type="submit" value="改签" name="status" data-value="{{ order.account_num }}">#}
          </td>
          <td>
{#              <input class="btn btn-default" type="submit" value="退票" name="status" data-value="{{ order.account_num }}">#}
              <button class="btn btn-default" type="submit" value="{{ order.order_id }}" name="ticketRefund">退票</button>
          </td>
        </form>
	    </tr>
      {% endfor %}


	  </tbody>
	</table>
  </div>

	<footer class="tm-black-bg navbar-fixed-bottom">
		<div class="container">
			<div class="row">
				<p class="tm-copyright-text">Copyright &copy; <a target="_blank">ChiAo1fei</a> 
                
                | 毕业设计 <a target="_blank">火车订票管理系统</a> - By <a target="_blank">Django & Html5</a></p>
			</div>
		</div>		
	</footer>

  	    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>