<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Theme Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    	.table th, .table td { 
			text-align: center;
			vertical-align: middle!important;
			}
    </style>
  </head>

  <body>
  	<!--顶部导航栏-->
  	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'train:index' %}">火车订票系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'train:index' %}">首页</a></li>
            <li class="active"><a href="{% url 'train:selectTrainTicket' %}">购票</a></li>
            <li><a href="#contact">关于</a></li>
            {% if not session %}
                <li><a href="{% url 'user:login' %}">登录</a></li>
                <li><a href="{% url 'user:register' %}">注册</a></li>
            {% endif %}
            {% if session %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'order:user_order' %}">我的订单</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'user:userinfo' %}">我的信息</a></li>
                        <li><a href="{% url 'user:logout' %}">退出</a></li>
                    </ul>
                </li>
            {% endif %}

          </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div id="blank" style="height: 80px;"></div>
  	<div class="container theme-showcase" role="main">
		<div style="height: 80px; border: 1px solid lightgrey; line-height: 80px; border-radius: 5px;">
			  <form class="form-inline" action="" method="post">
	  			<div class="form-group col-md-3">
	  				<label>出发站：</label>
	  				<input class="form-control" type="text" name="go_station" placeholder="请输入出发站" />
	  			</div>
	  			
	  			<div class="form-group col-md-3">
	  				<label>到达站：</label>
	  				<input class="form-control" type="text" name="arrive_station" placeholder="请输入到达站" />
	  			</div>
	  			
	  			<div class="form-group col-md-3">
	  				<label>日期：</label>
	            	<input id="leave_date" type="date" name="leave_date" class="form-control" placeholder="Date">
	        	</div>
	
	            <div class="form-group col-md-2">
	                <select class="form-control">
	            	 	<option value="">-- 选择类型 -- </option>
	            	 	<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5p">5+</option>
					</select> 
	            </div>
	        	
	  			<div class="form-group col-md-1">
	            	<input class="btn btn-default" type="submit" value="查询">
	        	</div>
  			</form>
		</div>
  		
  		<table class="table table-bordered table-striped">
		   <caption style="text-align: center; font-size: larger;">查询结果</caption>
		   <thead>
		      <tr>
		         <th>车次</th>
		         <th>出发站 <br clear="none"> 到达站</th>
		         <th>出发时间 <br clear="none"> 到达时间</th>
		         <th>历时</th>
		         <th>商务座</th>
		         <th>价格</th>
		         <th>一等座</th>
		         <th>价格</th>
		         <th>二等座</th>
		         <th>价格</th>
		         <th>硬卧</th>
		         <th>价格</th>
		         <th>硬座</th>
		         <th>价格</th>
		         <th>无座</th>
		         <th>价格</th>
		         <th>操作</th>
		      </tr>
		   </thead>
		   <tbody>
           {% for train_info in train_infos %}
               <tr>
		         <td>{{ train_info.train_id }}</td>
		         <td>{{ train_info.go_station }}<br clear="none"> {{ train_info.arrive_station }} </td>
		         <td>{{ train_info.go_time }}<br clear="none">{{ train_info.arrive_time }}</td>
		         <td>2时11分<br clear="none">当日到达</td>
		         <td>{{ train_info.business_seat_nums }}</td>
		         <td>￥{{ train_info.business_seat_price }}</td>
		         <td>{{ train_info.first_seat_nums }}</td>
		         <td>￥{{ train_info.first_seat_price }}</td>
		         <td>{{ train_info.second_seat_nums }}</td>
		         <td>￥{{ train_info.second_seat_price }}</td>
		         <td>{{ train_info.hard_berth_nums }}</td>
		         <td>￥{{ train_info.hard_berth_price }}</td>
		         <td>{{ train_info.hard_seat_nums }}</td>
		         <td>￥{{ train_info.hard_seat_price }}</td>
		         <td>{{ train_info.no_seat_nums }}</td>
		         <td>￥{{ train_info.no_seat_price }}</td>
               <td><a class="btn btn-ajax" href="{% url 'order:orderinfo' train_info.id %}" >预定</a></td>
		      </tr>
           {% endfor %}
		   </tbody></table>
		   <div style="height: 100%; background-color: red;">
		   	备注
		   </div>

   </div> 
    
 	<footer class="tm-black-bg navbar-fixed-bottom">
		<div class="container">
			<div class="row">
				<p class="tm-copyright-text">Copyright &copy; <a target="_blank">ChiAo1fei</a> 
                
                | 毕业设计 <a target="_blank">火车订票管理系统</a> - By <a target="_blank">Django & Html5</a></p>
			</div>
		</div>		
	</footer>

    <script type="text/javascript">

        function orders(value) {
            alert(value);
            $('input#arrive_time').val(value)
        }
    </script>
  	    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
